*{
    
}

main{
    border-radius: 10px;
    margin: 0 auto;
    width: 800px;
border: 2px double green;
padding: 20px;
overflow: auto;
text-align: justify;
padding: 10px;
background-image: linear-gradient(0);
box-sizing: border-box;
}

h1{
text-shadow: 5px;
text-align: center;
}
img{
    float: right;
    margin: 10px;
}
p{
    background-color: bisque;
}

.clear{
    text-align: center;
clear: left;

}