body {
    background-color: antiquewhite;
}

h1 {
    font-size: 25px;
    text-align: center;
    color: blueviolet;
    background-color: aliceblue;
}

h2 {
    font-size: 22px;
    text-align: center;
    color: brown;
    text-shadow: 5px 5px 5px rgb(240, 163, 62);
}


p {
    font-size: 18px;
    text-align: justify;
    line-height: 100%;
    text-indent: 20px;
}

span {
    margin-right: 40px;
    display: block;
    font-weight: 700;
    font-style: italic;
    text-align: right;
}