.container{
    height: 80vh;
background-color: bisque;
border: 1px solid blueviolet;
display: grid;
padding: 10px;
grid-template-columns: auto auto;
gap: 5px;
/* justify-items: center;
align-items: center; */
/* place-items: center center; */
justify-content: center;
align-content: center;
/* place-content: center center; */

}

.cx1{
    background-color: chocolate;
    
   
}
.cx2{
    background-color: darkmagenta;
   
}
.cx3{
    background-color: darksalmon;
    
  
}
.cx4{
    background-color: darkred;
   
}